section {
  display: flex;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-grow-1{
  flex-grow: 1;
}
