.tm-margin-5 {
  margin: 5px;
}

.tm-margin-10 {
  margin: 10px;
}

.tm-margin-left-5 {
  margin-left: 5px;
}

.tm-margin-left-10 {
  margin-left: 10px;
}

.tm-margin-left-20 {
  margin-left: 20px;
}

.tm-margin-right-10 {
  margin-right: 10px;
}

.tm-margin-bottom-10 {
  margin-bottom: 10px;
}

.tm-margin-bottom-15 {
  margin-bottom: 15px;
}

.tm-margin-top-4 {
  margin-top: 4px;
}

.tm-margin-top-5 {
  margin-top: 5px !important;
}

.tm-margin-top-10 {
  margin-top: 10px !important;
}

.tm-margin-top-20 {
  margin-top: 20px;
}

.tm-margin-top-35 {
  margin-top: 35px;
}

.tm-padding-10 {
  padding: 10px;
}

.tm-padding-top-2 {
  padding-top: 20px;
}

.tm-padding-left-10 {
  padding-left: 10px !important;
}
