<form (ngSubmit)="onSubmit()">
  <div class="mat-subheading-2">Изменить значение</div>

  <!-- <mat-form-field>
    <input matInput maxLength="140" name="changingValue" [(ngModel)]="changingValue" autocomplete="off">
    <mat-hint align="end">{{changingValue?.length || 0}}/140</mat-hint>
  </mat-form-field> -->

  <mat-form-field *ngIf="!isDatePicker">
    <input matInput maxLength="140" name="changingValue" [(ngModel)]="changingValue" autocomplete="off">
    <mat-hint align="end">{{changingValue?.length || 0}}/140</mat-hint>
  </mat-form-field>
  <div *ngIf="datePicker">
    <ngx-datepicker name="dateChangingValue" [(ngModel)]="dateChangingValue"></ngx-datepicker>
  </div>


  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">CANCEL</button>
    <button mat-button type="submit" color="primary">SAVE</button>
  </div>
</form>
