<section>
  <mat-card>
    <form [formGroup]="creatingTouristForm" autocomplete="off" novalidate
      (ngSubmit)="addTourist(creatingTouristForm.value)">
      <mat-card-content>
        <div class="tm-display-flex tm-flex-wrap justify-content-space-around">

          <mat-card class="tm-width-45-percent tm-margin-bottom-15">
            <mat-card-content>
              <div class="tm-display-flex tm-flex-wrap">
                <mat-form-field *ngFor="let column of stringColumns" class="tm-margin-left-10 tm-width-30-percent">
                  <mat-label>{{column.name}}</mat-label>
                  <input matInput type="text" [id]="column.code" [formControlName]="column.code"
                    [placeholder]="column.name" />
                </mat-form-field>
                <mat-form-field *ngFor="let column of numberColumns" class="tm-margin-left-10 tm-width-30-percent">
                  <mat-label>{{column.name}}</mat-label>
                  <input matInput type="number" [id]="column.code" [formControlName]="column.code"
                    [placeholder]="column.name" />
                </mat-form-field>
                <div *ngFor="let column of dateColumns" class="tm-margin-left-10 tm-width-30-percent">
                  <mat-label>{{column.name}}</mat-label>
                  <ngx-datepicker [formControlName]="column.code"></ngx-datepicker>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>


      <mat-card-actions>
        <button type="button" mat-raised-button color="basic">Добавить спутника</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Отменить</button>
        <button mat-raised-button color="primary" [disabled]="!creatingTouristForm.valid">Создать</button>
      </mat-card-actions>

    </form>
  </mat-card>
</section>
