<section>
  <div class="margin-left-10">
    <h2 class="margin-top-5 margin-bottom-5"> {{appHeaderState.pageName}} </h2>
  </div>
  <div class="margin-5">
    <a routerLink="/creating-tour">
      <button mat-stroked-button color="primary" matTooltip="Добавить тур">
        Добавить
      </button>
    </a>
  </div>
  <section class="right-button-group">
    <app-admin-section></app-admin-section>
    <app-logout-button></app-logout-button>
  </section>
</section>
<mat-divider></mat-divider>

<router-outlet></router-outlet>
