<div class="padding-10" *ngIf="tableInitialized">
  <table mat-table [dataSource]="touristDataSource" class="mat-elevation-z8 tourists-table">

    <ng-container *ngFor="let columnCode of displayedColumns.stringColumns" [matColumnDef]="columnCode" [sticky]="isSticky(columnCode)">
      <mat-header-cell *matHeaderCellDef>{{columnCodeToNameMap[columnCode]}}</mat-header-cell>
      <mat-cell *matCellDef="let row" [satPopoverAnchor]="popover"
      (click)="popover.open()">
      {{row[columnCode]}}

        <sat-popover #popover hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(row['touristId'], columnCode, $event, columnValueType.string, row)">
          <app-inline-edit [value]="row[columnCode]"  [datePicker]="false"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let columnCode of displayedColumns.dateColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCodeToNameMap[columnCode]}}</mat-header-cell>
      <mat-cell *matCellDef="let row" [satPopoverAnchor]="popover" (click)="popover.open()">
        {{row[columnCode] | date : "dd/MM/yyyy"}}

        <sat-popover #popover hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(row['touristId'], columnCode, $event, columnValueType.dateTime, row)">
          <app-inline-edit [dateValue]="row[columnCode]" [datePicker]="true"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let columnCode of displayedColumns.numberColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCodeToNameMap[columnCode]}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode]}}

      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let columnCode of displayedColumns.guidColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCodeToNameMap[columnCode]}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode]}}</mat-cell>
    </ng-container>


    <ng-container *ngFor="let columnCode of displayedColumns.boolColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCodeToNameMap[columnCode]}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="allColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: allColumns"></mat-row>

  </table>
</div>
