<section>
  <div class="margin-left-10 margin-top-5">
    <app-back-arrow></app-back-arrow>
  </div>
  <div class="margin-5 flex-grow-1">
    <h2 class="margin-top-5 margin-bottom-5">Список туристов {{tourStartDate | date: 'dd/MM/yyyy'}}</h2>
  </div>
  <div class="margin-5 right-button">
    <a [routerLink]="['/creating-tourist', tourId]"><button mat-icon-button color="primary" class="float-right"
        matTooltip="Добавить туриста">
        <mat-icon>add</mat-icon>
      </button></a>
  </div>

  <app-logout-button class="right-button"></app-logout-button>

</section>

<mat-divider></mat-divider>


<div class="padding-10" *ngIf="tableInitialized">
  <table mat-table [dataSource]="touristDataSource" class="mat-elevation-z8 tourists-table">

    <ng-container *ngFor="let columnCode of displayedColumns.stringColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCode}}</mat-header-cell>
      <mat-cell *matCellDef="let row" [satPopoverAnchor]="popover"
      (click)="popover.open()">
      {{row[columnCode]}}

        <sat-popover #popover hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(row['touristId'], columnCode, $event, columnValueType.string, row)">
          <app-inline-edit [value]="row[columnCode]"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let columnCode of displayedColumns.dateColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCode}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode] | date : "dd/MM/yyyy"}}</mat-cell>
    </ng-container>

    <ng-container *ngFor="let columnCode of displayedColumns.numberColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCode}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode]}}</mat-cell>
    </ng-container>

    <ng-container *ngFor="let columnCode of displayedColumns.guidColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCode}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode]}}</mat-cell>
    </ng-container>


    <ng-container *ngFor="let columnCode of displayedColumns.boolColumns" [matColumnDef]="columnCode">
      <mat-header-cell *matHeaderCellDef>{{columnCode}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row[columnCode]}}</mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="arrivalDateAndTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by arrivalDateAndTime">Дата приезда
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popArrivalDateAndTime"
        (click)="popArrivalDateAndTime.open()">
        {{tourist.arrivalDateAndTime | date: 'dd/MM/yyyy'}}
        <sat-popover #popArrivalDateAndTime hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'arrivalDateAndTime')">
          <app-inline-edit [value]="tourist.arrivalDateAndTime"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="arrivalTransportType">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by arrivalTransportType">Вид
        транспорта</mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popArrivalTransportType"
        (click)="popArrivalTransportType.open()">
        {{tourist.arrivalTransportType}}
        <sat-popover #popArrivalTransportType hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'arrivalTransportType')">
          <app-inline-edit [value]="tourist.arrivalTransportType"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkInDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by checkInDate">Дата заселения
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popCheckInDate" (click)="popCheckInDate.open()">
        {{tourist.checkInDate | date: 'dd/MM/yyyy'}}
        <sat-popover #popCheckInDate hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'checkInDate')">
          <app-inline-edit [value]="tourist.checkInDate"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="departureDateAndTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by departureDateAndTime">Дата
        отъезда</mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popDepartureDateAndTime"
        (click)="popDepartureDateAndTime.open()">
        {{tourist.departureDateAndTime | date: 'dd/MM/yyyy'}}
        <sat-popover #popDepartureDateAndTime hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'departureDateAndTime')">
          <app-inline-edit [value]="tourist.departureDateAndTime"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="departureTransportType">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by departureTransportType">Вид
        транспорта</mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popDepartureTransportType"
        (click)="popDepartureTransportType.open()">
        {{tourist.departureTransportType}}
        <sat-popover #popDepartureTransportType hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'departureTransportType')">
          <app-inline-edit [value]="tourist.departureTransportType"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="checkOutDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by checkOutDate">Конец тура
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popCheckOutDate" (click)="popCheckOutDate.open()">
        {{tourist.checkOutDate | date: 'dd/MM/yyyy'}}
        <sat-popover #popCheckOutDate hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'checkOutDate')">
          <app-inline-edit [value]="tourist.checkOutDate"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tourDays">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by tourDays">Дней в туре
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popTourDays" (click)="popTourDays.open()">
        {{tourist.tourDays}}
        <sat-popover #popTourDays hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'tourDays')">
          <app-inline-edit [value]="tourist.tourDays"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hotelNights">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hotelNights">Ночей в отеле
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popHotelNights" (click)="popHotelNights.open()">
        {{tourist.hotelNights}}
        <sat-popover #popHotelNights hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'hotelNights')">
          <app-inline-edit [value]="tourist.hotelNights"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stars">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by stars">Звездность
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popStars" (click)="popStars.open()">
        {{tourist.stars}}
        <sat-popover #popStars hasBackdrop xAlign="start" yAlign="start" (closed)="update(tourist, $event, 'stars')">
          <app-inline-edit [value]="tourist.stars"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apartmentType">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by apartmentType">Тип номера
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popApartmentType" (click)="popApartmentType.open()">
        {{tourist.apartmentType}}
        <sat-popover #popApartmentType hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'apartmentType')">
          <app-inline-edit [value]="tourist.apartmentType"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phoneNumber">Номер телефона
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popPhoneNumber" (click)="popPhoneNumber.open()">
        {{tourist.phoneNumber}}
        <sat-popover #popPhoneNumber hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'phoneNumber')">
          <app-inline-edit [value]="tourist.phoneNumber"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hotel">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hotel">Отель</mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popHotel" (click)="popHotel.open()">
        {{tourist.hotel}}
        <sat-popover #popHotel hasBackdrop xAlign="start" yAlign="start" (closed)="update(tourist, $event, 'hotel')">
          <app-inline-edit [value]="tourist.hotel"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by birthday">ДР</mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popBirthday" (click)="popBirthday.open()">
        {{tourist.birthday | date: 'dd/MM/yyyy'}}
        <sat-popover #popBirthday hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'birthday')">
          <app-inline-edit [value]="tourist.birthday"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="passportNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by passportNumber">Паспорт №
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popPassportNumber" (click)="popPassportNumber.open()">
        {{tourist.passportNumber}}
        <sat-popover #popPassportNumber hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'passportNumber')">
          <app-inline-edit [value]="tourist.passportNumber"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closePrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by closePrice">Закрытая цена ₽
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popClosePrice" (click)="popClosePrice.open()">
        {{tourist.closePrice}}
        <sat-popover #popClosePrice hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'closePrice')">
          <app-inline-edit [value]="tourist.closePrice"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="addition">
      <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by addition">Допы ₽
      </mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popAddition" (click)="popAddition.open()">
        {{tourist.addition}}
        <sat-popover #popAddition hasBackdrop xAlign="start" yAlign="start"
          (closed)="update(tourist, $event, 'addition')">
          <app-inline-edit [value]="tourist.addition"></app-inline-edit>
        </sat-popover>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comment">
      <mat-header-cell *matHeaderCellDef>Комментарии</mat-header-cell>
      <mat-cell *matCellDef="let tourist" [satPopoverAnchor]="popComment" (click)="popComment.open()">
        {{tourist.comment}}
        <sat-popover #popComment hasBackdrop xAlign="start" yAlign="start"
        (closed)="update(tourist, $event, 'comment')">
        <app-inline-edit [value]="tourist.comment"></app-inline-edit>
      </sat-popover>
      </mat-cell>
    </ng-container> -->


    <mat-header-row *matHeaderRowDef="allColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: allColumns"></mat-row>


  </table>
</div>
