@import "../styles/colors.scss";

.tourists-table {
  width: 100%;
  overflow-x: scroll;
  display: inline-block;
}

.tourists-table {
  .mat-cell {
    border-left: 1px solid $grid-border-color;
    padding-left: 5px;
    width: 200px;
  }
  mat-header-cell:first-of-type {
    padding-left: 5px;
  }
}

.tm-sidenav-styling {
  width: 50%;
}

.tm-is-today {
  color: red;
}

.tm-text-near-icon {
  margin-top: 2px;
  margin-left: 5px;
}

.tm-open-sidenav-action {
  padding-left: 5px;
  padding-right: 12px;
}

.tm-open-sidenav-action:hover {
  cursor: pointer;
}
