<section>
  <div class="flex-direction-row width-100-percent">

    <mat-card *ngFor="let tour of tours" class="tm-margin-10 tour-card">
      <mat-card-title>
        <a [routerLink]="['/list-tourists', tour.id]">
          Тур от {{tour.startDate}}
        </a>

        <button mat-icon-button color="primary" class="float-right" matTooltip="Удалить тур" (click)="deleteTour(tour.id)">
          <mat-icon>delete</mat-icon>
        </button>

        <a [routerLink]="['/creating-tourist', tour.id]">
          <button mat-icon-button color="primary" class="float-right" matTooltip="Добавить туриста">
            <mat-icon>add</mat-icon>
          </button>
        </a>

        <a [routerLink]="['/edit-tour', tour.id]">
          <button mat-icon-button color="primary" class="float-right" matTooltip="Редактировать тур">
            <mat-icon>edit</mat-icon>
          </button>
        </a>

      </mat-card-title>

      <mat-card-content>
        <table cellpadding="14" cellspacing="0">
          <tr>
            <th>Гиды</th>
            <th>Водители</th>
            <th>Количество туристов</th>
            <th>Крайний день</th>
            <th>Осталось туристов в туре</th>
          </tr>
          <tr>
            <td>{{tour.guides}}</td>
            <td>{{tour.drivers}}</td>
            <td>{{tour.touristNumber}}</td>
            <td>{{tour.endDate | date: 'dd/MM/yyyy'}}</td>
            <td><b>{{tour.touristsInProcess}}</b></td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</section>
